@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #301934 27.26%, #bc8f8f 96.03%);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.container {
  background: #ecf4ff;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #000000;
  color: #1c1c1c;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3,
p {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  margin-left: 16px;
  align-self: flex-end;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
  border: 2px solid #673147;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #d4c6e4 27.49%, #d8bfd8 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  margin-top: 32px;
  padding: 32px 100px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
}

.projetos-item p {
  color: #1c1c1c;
  text-decoration: none;
}

.dark{
  background: linear-gradient(236.85deg, #bc8f8f 27.26%, #301934 96.03%);
 
}

.dark .container {
  background: #333;
  color: #F6F6F6; 
}

.dark main p {
  color: #1c1c1c;
}

.dark .projetos{
  color: #1c1c1c;
  background: linear-gradient(230.65deg, #AA98A9 27.49%, #d8bfd8 83.19%);
 /*
  background: linear-gradient(236.85deg, #301934 27.26%, #bc8f8f 96.03%);*/
}

.dark .tema button{
  background: #333;
  color: #f6f6f6;
  border: 2px solid #D4C6E4;
}